{% extends "base/base.html" %}
{% load static %}

{% block main_title %}
  <h1>{{ main_title }}</h1>
{% endblock main_title %}

{% block main_content %}
  <form class="form form--login" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="form__error-wrapper form__error-wrapper--non-field">
        {% for error in form.non_field_errors %}
          <span class="form__error-message">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      {% include "snippets/form-field.html" %}
    {% endfor %}

    <button class="form__login-button">Log in!</button>

    <div class="form__register-redirect"><a href="{% url "register" %}">create new account</a></div>
  </form>
{% endblock main_content %}
