{% extends "base/base.html" %}
{% load static %}
{% load custom_tags %}

{% block main_content_header %}{% endblock main_content_header %}

{% block main_content %}
<section class="profile">

  {% include "snippets/avatar-source.html" with avatar=viewed_user.avatar component_name="profile__avatar" %}

  <span class="profile__name">
    {{ viewed_user|get_display_name }}
  </span>

  <div class="profile__stats">
    <span>User rating: {{ viewed_user.rating }}</span>
    <span>Questions asked: {{ viewed_user.total_questions_asked }}</span>
    <span>Answers posted: {{ viewed_user.total_answers_posted }}</span>
  </div>
</section>

<section class="recent-activity">
  <h1>Recent activity</h1>
  <ul class="recent-activity__records">
    {% for activity in recent_activities %}
      <li class="recent-activity__record"><a href="{{ activity.link_url }}">{{ activity.description }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock main_content %}
