{% extends "base/base.html" %}
{% load static %}

{% block main_content_header %}{% endblock main_content_header %}

{% block main_content %}
<section class="profile">
  <img src="{% static user.avatar %}" alt="avatar" class="profile__avatar">
  <span class="profile__name">{{ user.displayed_name }}</span>
  <div class="profile__stats">
    <span>User rating: {{ user.rating }}</span>
    <span>Questions asked: {{ user.total_questions_asked }}</span>
    <span>Answers posted: {{ user.total_answers_posted }}</span>
  </div>
</section>

<section class="recent-activity">
  <h1>Recent activity</h1>
  <ul class="recent-activity__records">
    {% for activity in user.recent_activities %}
      <li class="recent-activity__record"><a href="{{ activity.link_url }}">{{ activity.description }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock main_content %}
