{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}
{% block main_title %}Registration{% endblock main_title %}

{% block main_content %}
    <form class="register-form">
      <span class="register-form__info-message">Sorry, this email address is already registred!</span>

      <label for="register-form__login">Login</label>
      <input type="text" name="login" id="register-form__login" class="register-form__login" placeholder="Enter login"
        autocomplete="username" minlength="4" required>

      <label for="register-form__email">Email</label>
      <input type="email" name="email" id="register-form__email" class="register-form__email"
        placeholder="example@google.com" autocomplete="email">

      <label for="register-form__name">Displayed name</label>
      <input type="text" name="displayed_name" id="register-form__name" class="register-form__name"
        placeholder="Enter displayed name">

      <label for="register-form__password">Password</label>
      <input type="password" name="password" id="register-form__password" class="register-form__password"
        placeholder="Enter password" autocomplete="new-password" minlength="8" required>

      <label for="">Repeat password</label>
      <input type="password" name="repeat_password" id="register-form__repeat-password"
        class="register-form__repeat-password" placeholder="Repeat password" minlength="8" required>

      <div class="register-form__avatar-field custom-file-input">
        <span class="custom-file-input__filename js-file-input-filename">No file selected</span>

        <div class="custom-file-input__shadow-wrapper">
          <label class="custom-file-input__button" for="file-upload">
            <div class="custom-file-input__button-background"></div>

            <input type="file" name="avatar" accept="image/*" id="file-upload"
              class="custom-file-input__input js-file-input">

            <span class="custom-file-input__button-text">Choose</span>
            <div class="custom-file-input__button-outline"></div>
          </label>
        </div>
      </div>

      <button class="register-form__register-button">Register!</button>
    </form>
{% endblock main_content %}
