{% extends "base/base.html" %}
{% load static %}

{% block main_title %}
  <h1>{{ main_title }}</h1>
{% endblock main_title %}

{% block main_content %}
  <form class="form form--register" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="form__error-wrapper form__error-wrapper--non-field">
        {% for error in form.non_field_errors %}
          <span class="form__error-message">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form %}
      {% if field.name != "avatar" %}
        {% include "snippets/form-field.html" %}
      {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% include "snippets/avatar-source.html" with avatar=current_user.avatar component_name="form__avatar"%}

        <div class="form__row form__row--avatar">
          {% include "snippets/custom-file-input.html" with input_name=field.name input_id=field.id_for_label %}

          <div class="form__error-wrapper">
            {% for error in field.errors %}
              <span class="form__error-message">{{ error }}</span>
            {% endfor %}
          </div>

        </div>
      {% endif %}
    {% endfor %}

    <button class="form__submit-button">Register!</button>
  </form>
{% endblock main_content %}
