@use '../config' as *;

.answers {
    display: flex;
    padding: 4px 0px 20px 0px;
    flex-direction: column;
    gap: 20px;
}

.answer {
    --border-color: #{$color-text-main};

    position: relative;
    display: grid;
    padding: 8px 16px;
    grid-template-areas:
        "avatar content"
        "rating correct-btn";
    grid-template-columns: max-content 1fr;

    gap: 8px 16px;
    border: 2px solid var(--border-color);
    box-shadow: $shadow-main;

    &:target {
        &::before {
            position: absolute;
            top: -8px;
            bottom: -8px;
            left: -12px;
            width: 2px;
            background-color: var(--border-color);
            box-shadow: 0px 0px 4px 1px var(--border-color);
            content: "";
        }
    }

    &__avatar {
        width: 60px;
        height: 60px;
        grid-area: avatar;
        place-self: start;
    }

    &__content {
        grid-area: content;
    }

    &__rating {
        grid-area: rating;
        place-self: center start;
    }

    &__button-correct {
        @include default-button;
        height: 28px;
        grid-area: correct-btn;
        place-self: center end;
        accent-color: $color-accent-main;
    }

    &--correct {
        --border-color: #{$color-accent-main};
        box-shadow: 0px 0px 4px $color-accent-main;

        .answer__button-correct {
            display: none;
        }
    }
}

.user-answer {
    display: flex;
    margin-top: 20px;
    flex-direction: column;

    &__content {
        min-height: 20vh;
        resize: vertical;
    }

    &__submit-button {
        @include default-button;

        width: 100px;
        height: 40px;
        margin-block: 28px;
    }
}
