@use '../config' as *;

.answers {
    display: flex;
    padding: 4px 0px 20px 0px;
    flex-direction: column;
    gap: 20px;
}

// TODO Add separation in card elements
.answer {
    --color-indicator: #{$color-indicator-highlight};

    position: relative;
    display: grid;
    padding: 8px 16px;
    grid-template-areas:
        "rating header"
        "rating body"
        "rating footer";
    grid-template-columns: 60px 1fr;
    column-gap: 12px;

    border-radius: 4px;

    transition: all $timing-animation-short;

    &:target {
        &::before {
            position: absolute;
            top: -8px;
            bottom: -8px;
            left: -12px;
            width: 2px;
            background-color: var(--color-indicator);
            box-shadow: 0px 0px 4px 1px var(--color-indicator);
            content: "";
        }
    }

    &__header {
        display: flex;
        margin-bottom: 8px;
        grid-area: header;
        align-items: center;
        gap: 8px
    }

    &__author-name {
        @include light-up-link;
        color: $color-text-muted;
        font-size: 0.85em;
        text-decoration: none;
    }

    &__created-at {
        flex-grow: 1;
        align-self: start;
        color: $color-text-muted;
        text-align: end;
    }

    &__avatar {
        width: 28px;
        border-radius: 4px;
    }

    &__body {
        grid-area: body;
    }

    &__rating {
        grid-area: rating;
        place-self: center;
    }

    &__button-correct {
        @include default-button;

        height: 28px;
        margin-top: 4px;

        grid-area: footer;
        place-self: center end;

        box-shadow: none;
        accent-color: $color-page-primary;
    }

    &:hover {
        box-shadow: $shadow-z2;

        transform: translateY(-2px);
    }

    &--correct {
        --color-indicator: #{$color-page-primary};

        box-shadow: inset 0 0 0 3px hsla(64, 84%, 39%, 0.4);

        &:hover {
            box-shadow:
                inset 0 0 0 3px hsla(64, 88%, 45%, 0.8),
                $shadow-z2;
            }

        .answer__button-correct {
            display: none;
        }
    }
}
