@use '../config' as *;

.custom-file-input {
    display: flex;
    align-items: center;
    gap: 10px;

    &__filename {
        padding: 4px;
        color: $color-text-filename;
        background-color: $color-bg-filename;
        border: 1px solid $color-border-filename;
        border-radius: 2px;
    }

    &__shadow-wrapper {
        filter: drop-shadow($shadow-main);
    }

    &__button {
        position: relative;
        display: flex;
        width: 92px;
        height: 32px;

        align-items: center;
        justify-content: center;

        border-radius: 2px;
        cursor: pointer;
    }

    &__button:hover  &__button-outline,
    &__button:has(&__input:focus-visible) &__button-outline {
        background-color: $color-accent-main;
    }

    &__button-background {
        position: absolute;
        inset: 0px;
        z-index: 10;

        background-color: $color-interactive-idle;
        border-radius: 2px;

        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
    }

    &__button-outline {
        position: absolute;
        inset: -3px;
        z-index: 0;

        background-color: transparent;
        border-radius: 2px;
        
        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
        transition: background-color 0.15s;
        content: "";
    }

    &__button-text {
        z-index: 20;
        transform: translateX(-7%);
    }

    &__input {
        position: absolute;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
    }
}
