@use '../config' as *;


.form {
    display: grid;
    margin-top: 16px;
    grid-template-columns: max-content 35vw;
    gap: 20px 8px;

    &__row {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__row--avatar {
        grid-column: 2 / 3;
    }

    &__error-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
    }

    &__error-wrapper--non-field {
        grid-column: 1 / -1;
        font: $h3;
    }

    &__error-message {
        color: $color-text-error;
    }

    &__field-label {
        margin-right: 40px;
    }

    &__field-label--required {
        &::after {
            margin-left: 0.25em;
            color: $color-accent-main;
            font-weight: bold;
            content: "*";
        }
    }

    &__avatar-preview-wrapper {
        display: flex;
        gap: 16px;
    }

    &__avatar {
        width: 140px;
        margin-block: 12px;
    }

    &__clear-avatar {
        @include default-button;
        width: 32px;
        height: 32px;
        margin-top: 12px;
        font-size: 20px;
        box-shadow: $shadow-small;
    }

    &__submit-button {
        @include default-button;
        width: 100px;
        height: 36px;
        margin-block: 12px;
        grid-column: 2 / 3;
    }
}

.form--login {
    & .form__register-redirect {
        grid-column: 2 / 3;

        & > a {
            @include light-up-link;
        }
    }
}

.form--new-question {
    grid-template-columns: auto 1fr;
    & .form__content {
        min-height: 30vh;
        resize: vertical;
    }
}

.form--user-answer {
    display: flex;
    margin-top: 20px;
    flex-direction: column;

    & .form__content {
        height: 15vh;
        min-height: 15vh;
        resize: vertical;
    }

    // &__submit-button {
    //     @include default-button;

    //     width: 100px;
    //     height: 40px;
    //     margin-block: 28px;
    // }
}
