@use "../config.scss" as *;

header {
    display: flex;

    height: 70px;

    align-items: center;
    justify-content: space-around;
    gap: 8px;

    background-color: $color-bg-secondary;
    border-bottom: 2px solid $color-accent-main;
}

.website-icon {
    width: 40px;
}
