@use "../config.scss" as *;

header {
    display: flex;

    height: 70px;

    align-items: center;
    justify-content: space-around;
    gap: 8px;

    background-color: $surface-1;
    border-bottom: 2px solid $color-page-primary;

    box-shadow: $shadow-z1;
}

.website-icon {
    width: 40px;
    border-radius: 4px;
}
