@use "../config.scss" as *;

.popular-tags__links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    line-height: 1.05em;

    & > a {
        color: $color-text-main;
        transition: font-size $timing-animation-long;

        &.python {
            color: hsl(0, 85%, 51%);
        }

        &.mysql {
            color: hsl(0, 83%, 41%);
        }

        &.django {
            color: hsl(113, 100%, 39%);
        }

        &.firefox {
            color: hsl(39, 100%, 50%);
        }

        &:hover,
        &:focus-visible {
            font-size: 1.05em;
        }
    }
}
