@use "../config.scss" as *;

.questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question {
    display: grid;
    min-height: 120px;

    grid-template-areas:
        "rating header"
        "rating body"
        "rating footer";

    grid-template-columns: 60px 1fr;

    column-gap: 12px;
    background-color: $surface-1;
    border-radius: 4px;

    box-shadow: $shadow-z1;

    &__header {
        display: flex;
        margin-bottom: 8px;
        grid-area: header;
        align-items: center;
        gap: 8px
    }

    &__author-name {
        @include light-up-link;
        text-decoration: none;
    }

    &__created-at {
        flex-grow: 1;
        align-self: start;
        color: $color-text-muted;
        text-align: end;
    }

    &__rating {
        padding-top: 4px;
        grid-area: rating;
        place-self: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        grid-area: body;
        place-self: start;
    }

    &__title {
        color: $color-text-main;
        font: $h2;

        transition: color $timing-animation-short;
    }

    &__content--clamped {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &__footer {
        display: flex;
        margin-top: 16px;
        grid-area: footer;
        justify-self: start;
        gap: 24px;

        & a {
            @include light-up-link;
        }
    }

    &__tags-list {
        display: inline;
    }

    &__tag {
        display: inline;

        &:not(:last-child)::after {
            content: ", ";
        }
    }

    &:hover &__title {
        color: $color-page-primary;
    }
}

.homepage .question,
.question-listing .question {
    position: relative;

    padding: 8px;
    transition:
        transform $timing-animation-short,
        box-shadow $timing-animation-short;

    &__avatar {
        width: 28px;
        border-radius: 4px;
    }

    &__body {
        gap: 4px;
    }

    &::before {
        position: absolute;

        top: 4px;
        bottom: 4px;
        left: -8px;
        width: 2px;

        background-color: transparent;
        transition: background-color $timing-animation-short;

        content: "";
    }

    &:hover {
        box-shadow: $shadow-z2;
        transform: translateY(-2px);

        &::before {
            background-color: $color-page-primary;
        }
    }

}

.question-discussion-page .question {
    margin: 8px 24px;
    padding: 16px;

    &__avatar {
        width: 32px;
        border-radius: 8px;
    }

    &__title {
        color: $color-page-primary;
        font: $h1;
    }

    &__body {
        gap: 12px;
    }

    &__content {
        font-size: 16px;
    }

    &__footer {
        margin-top: 24px;
    }
}
