@use "../config.scss" as *;

.questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question {
    display: grid;
    grid-template-areas:
        "avatar body"
        "rating footer";
    place-items: center;

    column-gap: 16px;

    &__avatar {
        grid-area: avatar;
    }

    &__rating {
        grid-area: rating;
    }

    &__body {
        display: flex;
        flex-direction: column;
        grid-area: body;
    }

    &__title {
        color: $color-accent-main;
        font: $h2;
    }

    &__content--clamped {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &__footer {
        display: flex;
        grid-area: footer;
        justify-self: start;
        gap: 24px;

        & a {
            @include light-up-link;
        }
    }

    &__tags-list {
        display: inline;
    }

    &__tag {
        display: inline;

        &:not(:last-child)::after {
            content: ", ";
        }
    }
}

.homepage .question,
.question-listing .question {
    padding: 8px;
    grid-template-columns: 80px 1fr;
    border: 2px solid $color-text-main;
    box-shadow: $shadow-main;

    &__avatar {
        width: 60px;
    }

    &__body {
        gap: 4px;
    }
}

.question-discussion-page .question {
    padding: 16px;
    grid-template-columns: 140px 1fr;
    border-bottom: 2px solid $color-accent-main;

    &__avatar {
        width: 120px;
    }

    &__rating {
        place-self: stretch;
    }

    &__title {
        font: $h1;
    }

    &__body {
        gap: 12px;
    }
}
