@use '../config' as *;

.rating-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;

    &__total-rating {
        grid-row: 1 / span 2;
        place-self: center end;
        font: $h3;
    }

    &__button {
        display: flex;

        padding: 4px;

        place-content: center;
        outline: none;
        cursor: pointer;

        &:hover, &:focus-visible, &--active {
            [class*="-icon"] {
                background-color: var(--color-local-highlight, $color-text-main);
                scale: 1.1;
            }
        }
    }

    &__like-button-icon {
        @include rating-button-icon;

        width: 24px;
        height: 24px;

        mask-image: url("/static/assets/up-arrow.svg");
        mask-position: bottom;
    }

    &__dislike-button-icon {
        @include rating-button-icon($color-status-danger);

        width: 24px;
        height: 24px;

        mask-image: url("/static/assets/down-arrow.svg");
        mask-position: top;
    }

    &--signed-out {
        display: flex;
        place-content: center;

        .rating-input__button {
            display: none;
        }
    }
}
