@use '../config' as *;

.rating-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 4px;

    &__total-rating {
        grid-row: 1 / span 2;
        place-self: center;
        font: $h3;
    }

    &__like-button {
        @include rating-button;
        width: 24px;
        place-self: end center;
    }

    &__dislike-button {
        @include rating-button;
        width: 24px;
        place-self: start center;
    }
}
