@use '../config' as *;

.rating-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 4px;

    &__total-rating {
        grid-row: 1 / span 2;
        place-self: center end;
        font: $h3;
    }

    &__button {
        @include rating-button;
        --filter-active: #{$filter-page-primary};
        width: 24px;
    }

    &__button--like {
        --filter-active: #{$filter-page-primary};
        place-self: end center;
    }

    &__button--dislike {
        --filter-active: #{$filter-color-red};
        place-self: start center;
    }

    &--signed-out {
        display: flex;
        place-content: center;

        .rating-input__button {
            display: none;
        }
    }
}
