@use "../config.scss" as *;

.profile {
    &__actions {
        display: flex;
        grid-area: actions;

        align-items: center;
        gap: 8px;

        line-height: 1.1em;

        & > a {
            color: $color-accent-main;
            text-decoration: 1px underline transparent;
            outline: none;
            transition: font-size 0.3s, text-decoration-color 0.3s;
        }

        & > a:hover,
        & > a:focus-visible {
            font-size: 1.1em;
            text-decoration-color: $color-accent-main;
        }
    }

    &__theme-switch {
        width: 32px;
        flex-shrink: 0;
        outline: none;
        transition: scale 0.3s;
        cursor: pointer;

        &:hover,
        &:focus-visible {
            filter: $filter-accent-main;
            scale: 1.1;
        }
    }

    &--signed-in {
        display: grid;
        grid-template-areas:
            "avatar name"
            "avatar actions";

        grid-template-columns: 80px 180px;

        .profile__avatar {
            width: 60px;
            grid-area: avatar;
        }

        .profile__name {
            grid-area: name;
        }
    }

    &--signed-out {
        display: flex;
    }
}
