@use '../config' as *;

.user-settings {
    display: grid;
    grid-template-columns: max-content 30vw;
    gap: 16px 80px;

    &__avatar {
        width: 100px;
        margin-block: 12px;
    }

    &__avatar-field {
        grid-column: -1 / -2;
    }

    &__save-button {
        @include default-button;

        width: 80px;
        height: 36px;

        margin-top: 28px;
        grid-column: -1 / -2;
    }
}
