@use "../config.scss" as *;

.profile {
    display: grid;
    margin-top: 24px;
    grid-template-areas:
        "avatar name"
        "avatar stats";
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 8px 36px;

    &__avatar {
        width: 200px;
        grid-area: avatar;
    }

    &__name {
        grid-area: name;
        font: $h1;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        grid-area: stats;
        gap: 12px;
        font: $h2
    }

    &__actions {
        display: flex;
        grid-area: actions;

        align-items: center;
        gap: 8px;

        line-height: 1.1em;

        & > a {
            color: $color-accent-main;
            text-decoration: 1px underline transparent;
            outline: none;
            transition: font-size 0.3s, text-decoration-color 0.3s;
        }

        & > a:hover,
        & > a:focus-visible {
            font-size: 1.1em;
            text-decoration-color: $color-accent-main;
        }
    }

    &__theme-switch {
        flex-shrink: 0;
    }

    &--mini {
        margin: 0px;
        .profile__avatar {
            width: 60px;
            grid-area: avatar;
        }

        .profile__name {
            @include light-up-link;
            font: $font-text-default;
        }
    }

    &--signed-in {
        display: grid;
        grid-template-areas:
            "avatar name"
            "avatar actions";

        grid-template-columns: 80px 180px;

        gap: 0px;

        .profile__name {
            grid-area: name;
        }
    }

    &--signed-out {
        display: flex;
    }
}
