@use '../config' as *;

.recent-activity {
    margin-top: 24px;
    border-top: 2px solid $color-accent-main;

    &__records {
        display: flex;
        padding-left: 16px;
        flex-direction: column;
        gap: 8px;
    }

    &__record > a {
        @include light-up-link;
        text-decoration: none;
    }
}
