{% load static %}

<div class="answer {{ modifier_classes }} js-answer-card" id="{{ answer.id }}">

  {% include "snippets/avatar-source.html" with avatar=answer.author.avatar component_name="answer__avatar" %}

  {% include "snippets/rating-input.html" with content_item=answer component_name="answer__rating"%}

  <p class="answer__content">
    {% if forloop.first %}
      <a name="first-answer"></a>
    {% endif %}

    {{ answer.content }}
  </p>

  {% if question.author.id == current_user.id %}
    <button class="answer__button-correct">Mark as correct!</button>
  {% endif %}
</div>
