<span class="custom-file-input__filename js-file-input-filename">No file selected</span>

<div class="custom-file-input__shadow-wrapper">
  <label class="custom-file-input__button" for="file-upload">
    <div class="custom-file-input__button-background"></div>

    <input type="file" name="avatar" accept="image/*" id="file-upload"
      class="custom-file-input__input js-file-input">

    <span class="custom-file-input__button-text">Choose</span>
    <div class="custom-file-input__button-outline"></div>
  </label>
</div>
