<footer class="navigation">
  <ul class="navigation__pages-list js-pages-list">
    <li class="navigation__page-link"><a href="{% url "new_question" %}">Ask</a></li>
    <li class="navigation__page-link"><a href="{% url "question_discussion" 6 %}">Question</a></li>
    <li class="navigation__page-link"><a href="{% url "question_listing" %}">Tag</a></li>
    <li class="navigation__page-link"><a href="{% url "register" %}">Register</a></li>
    <li class="navigation__page-link"><a href="{% url "login" %}">Log in</a></li>
    <li class="navigation__page-link"><a href="{% url "settings" %}">Settings</a></li>
    <li class="navigation__page-link"><a href="{% url "homepage" %}">Homepage</a></li>
  </ul>
</footer>
