<footer class="navigation">
  <ul class="navigation__pages-list js-pages-list">

    {% if current_user %}
      <li class="navigation__page-link"><a href="{% url "new_question" %}">Create Question</a></li>
    {% endif %}

    {% if not current_user %}
      <li class="navigation__page-link"><a href="{% url "login" %}">Log In</a></li>
      <li class="navigation__page-link"><a href="{% url "register" %}">Register</a></li>
    {% endif %}

    <li class="navigation__page-link"><a href="{% url "best_questions" %}">Best Questions</a></li>
    <li class="navigation__page-link"><a href="{% url "homepage" %}">Homepage</a></li>
  </ul>
</footer>
