{% load static %}

<header>
  <a href="{% url "homepage" %}">
    <img src="{% static "assets/favicon.ico" %}"
         alt="AskMe"
         class="website-icon"
    >
  </a>
  <form class="search-bar" method="GET">
    <input type="search"
           name="query"
           class="search-bar__input"
           placeholder="Search"
           required
    >
  </form>
  <a class="new-question-button" href="{% url "new_question" %}">Create new question</a>

  {% if current_user %}

    <div class="profile profile--mini profile--signed-in">
      {% include "snippets/avatar-source.html" with avatar=current_user.avatar component_name="profile__avatar" %}

      <a href="{% url "current_user_profile" %}" class="profile__name">
        {% include "snippets/user-display-name.html" with user=current_user %}
      </a>

      <div class="profile__actions">
        <a href="{% url "settings" %}" class="profile__action">Settings</a>
        <span class="profile__actions-separator">│</span>
        <form class="profile__logout" method="post" action="{% url "logout" %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.get_full_path }}">
          <button class="profile__action">Logout</button>
        </form>

        {% include "snippets/theme-switch.html" with component_name="profile__theme-switch" %}
      </div>
    </div>

  {% else %}

    <div class="profile profile--mini profile--signed-out">
      <div class="profile__actions">
        <a href="{% url "login" %}?next={{ request.path }}" class="profile__action">Log in</a>
        <span class="profile__actions-separator">│</span>
        <a href="{% url "register" %}" class="profile__action">Register</a>

        {% include "snippets/theme-switch.html" with component_name="profile__theme-switch" %}
        </div>
      </div>
    </div>

  {% endif %}

</header>
