{% load custom_tags %}

<section class="paginator">
  {% if page_obj.has_previous %}
    <a href="?{% url_replace page=page_obj.previous_page_number %}" class="paginator__button">&laquo;</a>
  {% endif %}

  <button disabled title="Already on this page" class="paginator__button">Page {{ page_obj.number }} of {{ paginator.num_pages }}</button>

  {% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}" class="paginator__button">&raquo;</a>
  {% endif %}
</section>
