{% load custom_tags %}

<section class="paginator">
  {% with page_range=page_obj|get_elided_page_range:1 %}
    {% for i in page_range %}

      {% if i == paginator.ELLIPSIS %}
        <span class="paginator__button paginator__button--no-click">
          {{ i }}
        </span>
      {% else %}
          <a href="?{% url_replace page=i %}"
             class="paginator__button {% if page_obj.number == i %}paginator__button--current-page{% endif %}"
          >{{ i }}</a>
      {% endif %}

    {% endfor %}
  {% endwith %}
</section>
