{% load static %}

<div class="question {{ modifier_classes }}">
  {% if question.author.profile.avatar %}
    <img src="{{ question.author.profile.avatar.url }}"
        alt="avatar"
        class="question__avatar">
  {% else %}
    <img src="{% static "assets/avatar.svg" %}"
          alt="avatar"
          class="question__avatar">
  {% endif %}

  {% include "snippets/rating-input.html" with content_item=question component_name="question__rating" %}

  <div class="question__body">
    <a href="{% url "question_discussion" question.id question.slug %}" class="question__title">{{ question.title }}</a>
    <p class="question__content {% if is_clamped is not False %}question__content--clamped{% endif %}">{{ question.content }}</p>
  </div>

  <div class="question__footer">
    {% if show_answer_amount is not False %}
      {% if question.answer_count > 0  %}
        <a href="{% url "question_discussion" question.id question.slug %}#{{ question.best_answer_id }}">answers ({{ question.answer_count }})</a>
        {% else %}
        <a href="{% url "question_discussion" question.id question.slug %}">no answers yet</a>
      {% endif %}
    {% endif %}
    <div class="question__tags-section">
      Tags:
      <ul class="question__tags-list">
        {% for tag in question.tags.all %}
          <li class="question__tag"><a href="{% url "tag_question_listing" tag.slug %}">{{ tag.name }}</a></li>
        {% empty %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
