@use "../base/variables" as *;

@mixin light-up-link {
    color: $color-text-main;
    text-decoration: 1px underline $color-text-main;
    border-radius: 1px;
    outline: none;
    transition: color $timing-animation-short, text-decoration-color $timing-animation-short;

    &:hover,
    &:focus-visible {
        color: $color-accent-main;
        text-decoration-color: $color-accent-main;
    }
}

@mixin default-button {
    display: flex;

    align-items: center;
    justify-content: center;

    color: $color-text-main;
    text-wrap: nowrap;
    background-color: $color-interactive-idle;

    border: 4px solid $color-interactive-idle;
    border-radius: 2px;
    outline: 3px solid transparent;

    box-shadow: $shadow-main;
    transition: outline-color $timing-animation-short;
    cursor: pointer;

    &[disabled],
    &--no-click {
        opacity: 0.4;
        cursor: default;
    }

    &:not([disabled]):not(&--no-click):hover,
    &:not([disabled]):not(&--no-click):focus-visible {
        outline-color: $color-accent-main;
    }
}

@mixin rating-button {
    outline: none;
    filter: $filter-text-main;
    transition: scale $timing-animation-long;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        filter: $filter-accent-main;
        scale: 1.1;
    }
}
