@use "../base/variables" as *;

@mixin light-up-link {
    color: $color-text-main;
    text-decoration: 1px underline $color-text-main;
    border-radius: 1px;
    outline: none;
    transition: color $timing-animation-short, text-decoration-color $timing-animation-short;

    &:hover,
    &:focus-visible {
        color: $color-page-primary;
        text-decoration-color: $color-page-primary;
    }
}

@mixin default-button($shadow: $shadow-z1) {
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;

    color: $color-text-main;
    text-wrap: nowrap;
    background-color: $color-action-idle;

    border: none;
    border-radius: 2px;
    outline: 3px solid transparent;

    box-shadow: $shadow;
    transition: outline-color $timing-animation-short;
    cursor: pointer;

    &[disabled],
    &--no-click {
        opacity: 0.4;
        cursor: default;
    }

    &:not([disabled]):not(&--no-click):hover,
    &:not([disabled]):not(&--no-click):focus-visible {
        outline-color: $color-action-active;
    }
}

@mixin rating-button-icon($active-color: $qa-primary) {
    --color-local-highlight: #{$active-color};

    display: inline-block;

    background-color: $color-text-main;
    mask-repeat: no-repeat;
    mask-size: contain;

    transition: all $timing-animation-short;
}
