@use "../config.scss" as *;

body {
    position: relative;
    color: $color-text-main;
    font-family: $ff;
    background-color: $color-bg-main;
}

main {
    scroll-padding-top: 40px;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 3px solid transparent;
    outline-color: $color-accent-main;
    outline-offset: 1px;
    transition: outline-color $timing-animation-short;
}
