@use "../config.scss" as *;

body {
    position: relative;
    color: $color-text-main;
    font-family: $ff;
    background-color: $surface-0;
}

main {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

.themed-contrast {
    filter: $filter-text-main;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 3px solid transparent;
    outline-color: $color-page-primary;
    outline-offset: 1px;
    transition: outline-color $timing-animation-short;
}
