$ff: Verdana;

$h1: bold 1.6rem / 1em $ff;
$h2: bold 1.2rem / 1.2em $ff;
$h3: bold 1rem / 1.2em $ff;

$p: 0.9rem / 1.6em $ff;

$font-text-default: 1em / 1em $ff;

$white: #FFFFFF;
$black: #000000;

$gray-50: #f2f2f2;
$gray-600: #5e5d5d;
$gray-700: #323232;
$gray-900: #1f1f1f;

$qa-primary: #ffff47;

$status-error: #fe4040;
$status-success: #28a745;

$surface-0: var(--surface-0);
$surface-1: var(--surface-1);
$surface-inverse: var(--surface-inverse);

$color-text-main: var(--color-text-main);
$color-status-danger: var(--color-status-danger);
$color-text-inverse: var(--color-text-inverse);
$color-text-muted: var(--color-text-muted);


$color-border-inverse: var(--color-border-inverse);
$color-border-card: var(--color-border-card);

$color-indicator-highlight: var(--color-indicator-highlight);

$color-action-idle: var(--color-action-idle);
$color-indicator-idle: var(--color-indicator-idle);
$color-action-active: var(--color-action-active);
$color-indicator-active: var(--color-indicator-active);

$color-page-primary: var(--color-page-primary);

$filter-page-primary: var(--filter-page-primary);
$filter-text-main: var(--filter-text-main);
$filter-color-red: var(--filter-color-red);

$shadow-main: var(--shadow-main);
$shadow-small: var(--shadow-small);

$timing-animation-long: 0.3s;
$timing-animation-short: 0.15s;
