{% extends "base/base.html" %}
{% load static %}

{% block body_class %}question-discussion-page{% endblock body_class %}

{% block main_content_header %}{% endblock main_content_header %}

{% block main_content %}

{% include "snippets/question-card.html" with is_clamped=False show_answer_amount=False %}
<form class="form form--user-answer js-user-answer-form" method="post" action="{% url "question_answer_submit" id=question.id %}">
  {% csrf_token %}

    <div class="form__error-wrapper form__error-wrapper--non-field">
      {% for error in form.non_field_errors %}
        <span class="form__error-message">{{ error }}</span>
      {% endfor %}
    </div>

  {% for field in form %}
      {% include "snippets/form-field.html" %}
  {% endfor %}
  <button class="form__submit-button js-submit-button">Answer</button>
</form>

<section class="answers js-answers-list" data-page-size="{{ paginator.per_page }}">
  <template id="answer-template">
    {% include "snippets/answer-card.html" with answer_author=current_user %}
  </template>

  {% for answer in answers %}
    {% if answer.is_correct %}
      {% include "snippets/answer-card.html" with answer_author=answer.author modifier_classes="answer--correct"%}
    {% else %}
      {% include "snippets/answer-card.html" with answer_author=answer.author%}
    {% endif %}
  {% endfor %}

</section>

{% include "snippets/paginator.html" %}

{% endblock main_content %}
