{% extends "base/base.html" %}
{% load static %}

{% block main_title %}
  <h1>{{ main_title }}</h1>
{% endblock main_title %}

{% block main_title_extra %}
  <h2>{{ main_title_extra }}</h2>
{% endblock main_title_extra %}

{% block body_class %}question-listing{% endblock body_class %}

{% block main_content %}
  <section class="questions">

    {% for question in mock_questions %}
      <div class="question question--bordered">
        {% include "snippets/question-card.html" %}
      </div>
    {% endfor %}

  </section>

  <section class="paginator">
    {% include "snippets/paginator.html" %}
  </section>
{% endblock main_content %}
