body {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 1fr 20vw;
    grid-template-rows: auto 1fr auto;
    column-gap: 48px;
    overflow-x: hidden;

    &.error-page {
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    overflow-y: auto;

    & > section,
    & > form {
        margin: 8px 24px;
    }
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}
