:root {
    --color-bg-main: #1f1f1f;
    --color-bg-secondary: #323232;
    --color-interactive-idle: #5e5d5d;
    --color-text-main: #F4FDFF;
    --color-accent-main: hsl(60, 100%, 64%);
    --shadow-main: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
