@use 'sass:color';
@use '../config' as *;

.theme-light {
    color-scheme: light;

    $qa-primary-darker: color.adjust($qa-primary, $hue: -5, $saturation: +15%, $lightness: -10%);

    --surface-0: #{$white};
    --surface-1: #{color.mix($qa-primary-darker, $white, 3%)};

    --color-text-main: #{$gray-900};
    --color-text-muted: color-mix(in srgb, var(--color-text-main), transparent 50%);

    --color-page-primary: #{$qa-primary-darker};

    --color-status-success: #{$status-success};
    --color-status-danger: #{$status-error};

    --color-action-active: #{$qa-primary-darker};
    --color-action-idle: #{color.mix($qa-primary-darker, $gray-50, 30%)};

    --color-indicator-active: #{$qa-primary-darker};
    --color-indicator-idle: #{$gray-200};
    --color-indicator-highlight: #{$gray-800};

    --surface-form-field: var(--surface-1);
    --color-text-form-field: var(--color-text-main);
    --color-border-form-field: #{$gray-200};

    --filter-text-main: brightness(0) saturate(100%) invert(0%) sepia(13%) saturate(6613%) hue-rotate(348deg) brightness(94%) contrast(80%);

    --shadow-z1:
        0 1px 3px hsla(0 0% 0% /  0.1),
        0 10px 20px hsla(0 0% 0% / 0.03);

    --shadow-z2:
        0 3px 5px hsla(0 0% 0% / 0.3),
        0 15px 30px hsla(0 0% 0% / 0.05);
}
