.theme-light {
    --color-bg-main: #FFFFFF;
    --color-bg-secondary: #FCFCF5;
    --color-interactive-idle: #FFFFFF;
    --color-text-main: #1A1A1A;
    --color-accent-main: hsl(50, 100%, 50%);
    --shadow-main: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
